debug
release
.sconf*
config.log
*.swp
*.pyc
build
.waf*
.lock-wscript
*~
Makefile.in
Makefile
aclocal.m4
autom4te.cache
config.h.in
config
configure
libtool
stamp-h1
m4
*.o
*.lo
.deps
.libs
config.h
config.status
gtk-doc.make
*.info
*.texi
stamp-vti
*.la
*.pc
DiffabsDemo
ghkl
ghkl3d

