[Desktop Entry]
Version=1.0
Type=Application
Name=ghkl
GenericName=Diffractometer Calculation
Comment=hkl library graphical interface.
TryExec=ghkl
Exec=ghkl
Categories=Education;Science;Physics;GTK